/bin/*
!/bin/.gitkeep
!/bin/create_console_symlink.php

/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitkeep

/var/

/web/media

/.phpunit.result.cache
/.php-version

/compose.override.yml
/compose.test.yml
/docker/xdebug.ini
